absl-py==2.3.1
ai-models==0.7.4
ai-models-graphcast==0.1.0
array-api-compat==1.12.0
attrs==25.4.0
Cartopy==0.25.0
cdsapi==0.7.7
certifi==2025.10.5
cffi==2.0.0
cfgrib==0.9.15.1
cftime==1.6.5
charset-normalizer==3.4.4
chex==0.1.90
click==8.3.0
cloudpickle==3.1.1
colabtools==0.0.1
contourpy==1.3.3
crc32c==2.8
cycler==0.12.1
dask==2025.10.0
deprecation==2.1.0
dinosaur-dycore==1.2.1
dm-haiku==0.0.14
dm-tree==0.1.9
donfig==0.8.1.post1
earthkit-data==0.17.0
earthkit-meteo==0.5.0
earthkit-regrid==0.5.0
earthkit-utils==0.1.2
eccodes==2.44.0
eccodeslib==2.44.0.4
eckitlib==1.32.2.4
ecmwf-api-client==1.6.5
ecmwf-datastores-client==0.4.0
ecmwf-opendata==0.3.24
entrypoints==0.4
etils==1.13.0
fckitlib==0.14.0.4
filelock==3.20.0
findlibs==0.1.2
flax==0.8.4
flexcache==0.3
flexparser==0.4
fonttools==4.60.1
fsspec==2025.9.0
GPUtil==1.4.0
graphcast @ file:///home/vasileios/Documents/GeoML-Lab/GeoML_graphcast/graphcast
humanize==4.14.0
idna==3.11
importlib_resources==6.5.2
jax==0.6.0
jax-cuda12-pjrt==0.6.0
jax-cuda12-plugin==0.6.0
jaxlib==0.6.0
Jinja2==3.1.6
jmp==0.0.4
joblib==1.5.2
jraph==0.0.6.dev0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kiwisolver==1.4.9
locket==1.0.0
lru-dict==1.3.0
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.7
mdurl==0.1.2
ml_dtypes==0.5.3
msgpack==1.1.2
multiurl==0.3.7
nest-asyncio==1.6.0
netCDF4==1.7.3
numcodecs==0.16.3
numpy==1.26.4
nvidia-cublas-cu12==12.9.1.4
nvidia-cuda-cupti-cu12==12.9.79
nvidia-cuda-nvcc-cu12==12.9.86
nvidia-cuda-nvrtc-cu12==12.9.86
nvidia-cuda-runtime-cu12==12.9.79
nvidia-cudnn-cu12==9.14.0.64
nvidia-cufft-cu12==11.4.1.4
nvidia-cusolver-cu12==11.7.5.82
nvidia-cusparse-cu12==12.5.10.65
nvidia-nccl-cu12==2.28.7
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvshmem-cu12==3.4.5
opt_einsum==3.4.0
optax==0.2.4
orbax-checkpoint==0.6.4
packaging==25.0
pandas==2.3.3
partd==1.4.2
pdbufr==0.14.0
pillow==12.0.0
Pint==0.25
platformdirs==4.5.0
protobuf==6.33.0
pycparser==2.23
Pygments==2.19.2
pyparsing==3.2.5
pyproj==3.7.2
pyshp==3.0.2.post1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
requests==2.32.5
rich==14.2.0
rpds-py==0.28.0
rtree==1.4.1
scikit-learn==1.7.2
scipy==1.16.3
setuptools==80.9.0
shapely==2.1.2
six==1.17.0
tabulate==0.9.0
tensorstore==0.1.78
threadpoolctl==3.6.0
toolz==1.1.0
tqdm==4.67.1
tree-math==0.2.1
trimesh==4.9.0
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
wrapt==2.0.0
xarray==2025.10.1
xarray-tensorstore==0.2.0
zarr==3.1.3
zipp==3.23.0
